<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Food Recommender</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="~/Content/Site.css" rel="stylesheet" />
  <link href="~/Content/Images/HeartSavored.png" rel="shortcut icon" />
</head>
<body>
  <div id="base">
    <div id="page">
      <header>
        Food <span class="highlight">Recommender</span>
      </header>
      <div id="body">
        @RenderBody()
      </div>
      <footer>
        &copy;2013 - Food Recommender |
        <a href="https://twitter.com/intent/tweet?url=http://www.foodrecommender.com" target="_blank">Spread the word... share on Twitter</a> |
        <a href="https://twitter.com/intent/tweet?text=%40vishalrjoshi%20%40nikhilk%20" target="_blank">Feedback and Questions</a>
      </footer>
    </div>
  </div>
</body>
</html>
