@{
    Page.Title = "About Us";
}

<section id="main">
    <h1>A little bit about Food Recommender</h1>
    <p class="about">
        Food Recommender was founded in 2013 and delivers recommendation for food based on your liking.  It pushes you a little further to give your taste buds a little treat and adventure into awesome world of food tasting.
    </p><p class="about">
        We love food and wish there was a place which would recommend us what to eat, we could not find one so we thought we will make one for ourselves and our friends.  Hope you too join us and become a fellow foodie.
    </p><p class="about">
        Enjoy!!<br/>
        <a href="https://twitter.com/nikhilk">Nikhil</a> & <a href="http://twitter.com/vishalrjoshi">Vishal</a>
    </p>
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Search for us", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
