/* General  
----------------------------------------------------------*/
html {
    margin: 0;
    padding: 0;
}

header, footer, hgroup, nav, section {
    display: block;
}

body {
    background-color: #e0e0e0;
    color: #696969;
    font-family: 'Open Sans', Helvetica;
    font-size: .75em;
    margin: 0;
    padding: 0;
}

a:link {
    color: #3b3420;
    text-decoration: none;
}

a:visited {
    color: #3b3420;
    text-decoration: none;
}

a:hover {
    color: #a52f09;
    text-decoration: none;
}

a:active {
    color: #a52f09;
}

/* Basic Layout
----------------------------------------------------------*/
#bannerWrapper {
  max-width: 960px;
  padding: 10px;
}

#banner {
  background-image: url(images/Banner.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  position: relative;
  font-family: 'Open Sans', Helvetica;
  font-size: 20pt;
  color: white;
  text-align: left;
  box-sizing: border-box;
}

#bannerOverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 215px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.75));
  padding: 50px;
  box-sizing: border-box;
}

#bannerMessage {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 215px;
  height: 100%;
  background-color: rgba(0,0,0,.75);
  padding: 50px;
  box-sizing: border-box;
}

#bannerMessage button {
  border: none;
  padding: 5px;
  background-color: #EA533D;
  font-family: 'Open Sans', Helvetica;
  font-size: 16pt;
}

#page {
    margin: 0 auto;
    max-width: 960px;
}

header {
    height: 80px;
}

#body, footer {
    clear: both;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
    text-align: center;
}

section#main {
    float: left;
    width: 65%;
}


.site-title {
  font-family: 'Open Sans', Helvetica;
  font-kerning: normal;
  font-size: 30pt;
    margin: 15px;
    padding: 0;
}

/* Products
----------------------------------------------------------*/
#products {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.product {
  display: inline-block;
  width: 215px;
  border: solid 1px #cecece;
  margin: 10px;
  background: white;
  padding: 2px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
}

.product .productLink {
  text-decoration: none;
  border: 0px;
  padding: 0px;
  margin: 4px;
  display: inline-block;
  font-size: 0px;
}

.product .productLink img {
  border: none;
}

.product .productInfo {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  font-family: 'Open Sans', Helvetica;
  font-size: 10pt;
  font-weight: normal;
  margin: 4px;
  display: inline-block;
}

.product-image {
  height: 200px;
  width: 200px;
}

.hide-from-desktop {
  /* Only for mobile devices */
  display: none;
}

button.savor-button {
  display: inline-block;
  position: absolute;
  bottom: 4px;
  right: 6px;
  width: 24px;
  height: 24px;
  background-image: url(images/Heart.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 4px;
  border: none;
  cursor: auto;
}

button.savor-button[disabled] {
  background-image: url(images/HeartSavored.png);
  cursor: default;
}
