@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

html {
  margin: 0;
  padding: 0;
}

header, footer {
  display: block;
}

body {
  background-image: url('Images/CuttingBoard.png');
  background-color: #fdfdfd;
  color: #696969;
  font-family: 'Open Sans', Helvetica;
  font-size: .75em;
  margin: 0px;
  padding: 0;
}

a:link {
  color: #8d1c19; /*#3b3420;*/
  text-decoration: none;
}
a:visited {
  color: #8d1c19; /*#3b3420*/
  text-decoration: none;
}
a:hover {
  color: #a52f09;
  text-decoration: none;
}
a:active {
  color: #8d1c19; /*#a52f09;*/
}

#page {
  margin: 0 auto;
  max-width: 960px;
  background-color: #fdfdfd;
}

header {
  padding-left: 17px;
  font-family: 'Kaushan Script', 'Open Sans', Helvetica;
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 0px 0px 1px #333;
  letter-spacing: -.5px;
}
header .highlight {
  color: #842827;
  text-shadow: 0px 0px 2px #842827;
}

#bannerWrapper {
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Open Sans', Helvetica;
  font-size: 10pt;
  text-shadow: 0px 0px 1px #ccc;
}

#banner {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

footer {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Open Sans', Helvetica;
  font-size: 10pt;
  color: #8d1c19;
  vertical-align: bottom;
}

#productsWrapper {
  text-align: center;
}

#products {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.product {
  display: inline-block;
  width: 290px;
  border: solid 1px #cecece;
  margin: 10px;
  background: white;
  padding: 2px;
  box-sizing: border-box;
  position: relative;
  text-align: left;
}

.product .productLink {
  text-decoration: none;
  border: 0px;
  padding: 0px;
  margin: 4px;
  display: inline-block;
  font-size: 0px;
}

.product .productLink img {
  border: none;
}

.product .productInfo {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 260px;
  font-family: 'Open Sans', Helvetica;
  font-size: 10pt;
  font-weight: normal;
  margin: 4px;
  display: inline-block;
}

.product-image {
  height: 275px;
  width: 275px;
}

button.savor-button {
  display: inline-block;
  position: absolute;
  bottom: 4px;
  right: 6px;
  width: 24px;
  height: 24px;
  background-image: url(images/Heart.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 4px;
  border: none;
  cursor: pointer;
}

button.savor-button[disabled] {
  background-image: url(images/HeartSavored.png);
  cursor: default;
}

#refreshButton {
  font-family: 'Open Sans', Helvetica;
  font-size: 20px;
  text-shadow: 0px 0px 1px #fff;
  padding: 5px;
  border: none;
  background-color: #842827;
  color: #fff;
  width: 290px;
  margin-top: 10px;
  margin-bottom: 10px;
}
